@import url("whitespace-reset.css");

body {
  background: #FCD633;
  font-family: Helvetica, sans-serif;
}

header {
  background: #267EC1;
  width: 900px;
  margin: 0 auto 30px;
  border-radius: 0 0 15px 15px;
}

h1 {
  color: #FBFEFB;
  padding: 30px 30px;
  font-size: 36px;
}

main {
  background: #EBECED;
  width: 900px;
  margin: 0 auto;
}

h2 {
  padding: 30px 3%;
  font-size: 30px;
}

section {
  padding: 0 2.28% 25px;
  overflow: hidden;
}

figure {
  background: #FFFFFF;
  width: 200px;
  height: 235px;
  box-sizing: border-box;
  margin: 0 7px 15px;
  padding: 15px 15px 0 15px;
  float: left;
}

img {
  height: 60%;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

a span {
  font-weight: normal;
}

figcaption {
  padding: 25px 0 0 0;
}

input[type="checkbox"] { display: none; }
input:checked + figure img {
  width: 450px;
}



